           :root {
              --cor-primaria: #e4e4e4;
              --cor-botao-navegar-fundo: #008db8;
              --cor-botao-hover: #008db886;
              --cor-botao-culcular: #02b302;
              --cor-botao-calcular-hover: #94cc94;
              --cor-sextinaria: #ffffff;
              --cor-botao-limpar: #ff0000;
              --cor-botao-limpar-hover: #f89292;
              --cor-fonte-primaria: #000000;
          }
          
          * {
              padding: 0;
              margin: 0;
              box-sizing: border-box;
              transition: .3s;
          }
          
          .body {
              width: 100vw;
              height: 100vh;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background-color: var(--cor-botao-navegar-fundo);
              scrollbar-width: none;
          }
          
          .main {
              opacity: 0;
              animation: efect;
              animation-duration: .5s;
              animation-fill-mode: forwards;
              display: flex;
              flex-direction: column;
              height: auto;
              width: 50%;
              max-width: 500px;
              padding: 10px;
              justify-content: center;
              background-color: var(--cor-primaria);
              border-radius: 5px;
          }
          
          @keyframes efect {
              100% {
                  opacity: 1;
              }
          }
          
          .container {
              display: flex;
              flex-direction: column;
              gap: 10px;
          }
          
          .element {
              width: 100%;
              display: flex;
              gap: 5px;
          }
          
          .input {
              all: unset;
              border: 2px solid black;
              font-family: sans-serif;
              border-radius: 5px;
              padding: 2px;
              background-color: var(--cor-sextinaria);
              flex-grow: 1;
          }
          
          .input::placeholder {
              color: black;
              font-weight: 600;
          }
          
          .input:disabled {
              background-color: var(--cor-primaria);
          }
          
          .select {
              border: 2px solid black;
              font-family: sans-serif;
              border-radius: 5px;
              padding: 2px;
              background-color: var(--cor-sextinaria);
              width: 10%;
          }
          
          .h1 {
              flex-basis: 10%;
              text-align: center;
              margin-bottom: 20px;
              font-family: sans-serif;
              color: var(--cor-fonte-primaria);
          }
          
          #obs {
              text-align: center;
              margin;
          }
          
          .obs {
              background-color: var(--cor-sextinaria);
              display: inline;
              padding: 5px;
          }
          
          .limpar {
              all: unset;
              text-align: center;
              border-radius: 5px;
              color: white;
              font-family: Arial, Helvetica, sans-serif;
              transition: 0.35s;
              background-color: var(--cor-botao-limpar);
              padding: 5px;
              text-decoration: none;
          }
          
          .limpar:hover {
              color: var(--cor-fonte-primaria);
              background-color: var(--cor-botao-limpar-hover);
          }
          
          .button:hover {
              color: var(--cor-fonte-primaria);
              background-color: var(--cor-botao-hover);
          }
          
          .button:active {
              transform: scale(0.8);
          }
          
          .resultado {
              text-align: center;
              font-family: sans-serif;
              margin-bottom: 20px;
              overflow: auto;
              height: 50px;
          }
          
          .navegar {
              margin-top: 20px;
              display: flex;
              flex-direction: column;
              gap: 5px;
          }
          
          .calcular {
              all: unset;
              padding: 5px;
              text-decoration: none;
              border-radius: 5px;
              color: var(--cor-fonte-primaria);
              font-family: Arial, Helvetica, sans-serif;
              transition: 0.35s;
              background-color: var(--cor-botao-culcular);
              color: var(--cor-primaria);
              display: block;
              text-align: center;
          }
          
          .calcular:hover {
              color: var(--cor-fonte-primaria);
              background-color: var(--cor-botao-calcular-hover);
          }
          
          .voltar {
              all: unset;
              border-radius: 5px;
              text-align: center;
              display: block;
              color: white;
              font-family: Arial, Helvetica, sans-serif;
              transition: 0.35s;
              background-color: var(--cor-botao-navegar-fundo);
              padding: 5px;
              text-decoration: none;
          }
          
          .voltar:hover {
              color: var(--cor-fonte-primaria);
              background-color: var(--cor-botao-hover);
          }
          
          .voltar:active {
              transform: scale(0.8);
          }