*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}

:root{
    
}

main{
    height: 100vh;
}

input{
    all: unset;
    border-bottom: 1px solid white;
    color: white;
    padding: 2px;
}

input:focus{
    border-color: green;
}

        